<!DOCTYPE html>
<html>
<head>
  <title>Sarang Sharma</title>
	<link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header id="main_navigation" class="clearfix">
	<a href="index.html" class="name">Sarang Sharma</a>
	<nav>
		<a href="index.html">Home</a>
		<a href="#">Projects</a>
		<a href="#">Skills</a>
		<a href="contact.html">Contact</a>
		<%= link_to "Blog", posts_path %>
	</nav>
		
	</header>

<%= yield %>

</body>
</html>
