<!DOCTYPE html>
<html>
<head>
  <title>Sarang Sharma</title>
	<link href='//fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header id="main_navigation" class="clearfix">
	<%= link_to "Sarang Sharma", root_path, class: "name" %>
	<nav>
		<%= link_to "Home", root_path %>
		<%= link_to "Projects", projects_path %>
		<a href="#">Skills</a>
		<%= link_to "Articles", posts_path %>
		<a href="contact.html">Contact</a>
		
	</nav>
		
	</header>

	<%= yield %>

	<footer id="main_footer">
		<p class="copyright">&copy;2015 Sarang Sharma</p>
		<nav>
			<a href="#"><i class="fa fa-linkedin-square"></i></a>
			<a href="#"><i class="fa fa-github"></i></a>
			<a href="#"><i class="fa fa-facebook"></i></a>
		<nav>
	</footer>

</body>
</html>
